.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step {
  margin-top: 5px;
  display: flex;
  padding: 10px;
}
.count {
  margin-top: 5px;
  display: flex;
  padding: 10px;
}
button {
  padding: 10px;
  width: auto;
  height: 50px;
}
